[Desktop Entry]
Name=start-cfc
Type=Application
Exec=[...]/ClevoFanControl/start-cfc.sh
Path=[...]/ClevoFanControl/
Icon=[...]/ClevoFanControl/ClevoFanControl.ico
